/* Стилизация иконки */
.header__img {
    height: 64px;
    width: 64px;
}

/* Стилизация статусов */
.status-done {
    color: green; /* зеленый цвет для статуса "Выполнено" */
}

.status-pending {
    color: red; /* красный цвет для статуса "Не выполнено" */
}

.status-inprogress {
    color: gray; /* серый цвет для статуса "В процессе" */
}
